.users_container {
    position: absolute;
    background-color: rgb(253, 251, 251);
    height: 40rem;
    width: 40rem;
    top: 0;
    left : 25rem;
    z-index: 1000;
}
.cross{
    position: absolute;
    right: 3rem;
    top : 2rem;
}

.radio_container {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 3rem;
}